USE [RFID_DB]
GO
/****** Object:  Table [dbo].[PlantDetails]    Script Date: 12-12-2025 15:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantDetails](
	[PlantCode] [varchar](50) NOT NULL,
	[PlantName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PlantDetails] PRIMARY KEY CLUSTERED 
(
	[PlantCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PlantDetails] ([PlantCode], [PlantName]) VALUES (N'N101', N'SOYA_SOLVENT')
INSERT [dbo].[PlantDetails] ([PlantCode], [PlantName]) VALUES (N'N201', N'Refinery_Plant')
INSERT [dbo].[PlantDetails] ([PlantCode], [PlantName]) VALUES (N'N202', N'Refinery_ETP')
GO
